<footer>
  <div class="footer-content">
    <p>Grin was launched on January 15th, 2019.
      It's very young and experimental. Use at your own risk!

      <strong><a href= "https://github.com/mimblewimble/docs/wiki/A-Brief-History-of-MimbleWimble-White-Paper">Mimblewimble whitepapers</a></strong>
      Tom Elvis Jedusor @ 19 July, 2016.
      Andrew Poelstra @ e9f45ec.

      <a href="https://grin.mw">https://grin.mw</a>

    </p>
    <div class="footer-links">
        <a href="https://forum.grin.mw">Forum</a>
        <a href="https://keybase.io/team/grincoin">Keybase</a>
        <a href="https://grinnews.substack.com/">News</a>
        <a href="https://github.com/mimblewimble/grin">Github</a>
        <br>
        <strong>Policies</strong>
        <a href="{{ 'policies/code_of_conduct' | relative_url }}">Code of Conduct</a>
        <a href="https://github.com/mimblewimble/grin-security">Security, canaries, keys</a>
    </div>
  </div>
</footer>
