<footer class="footer">
  <div class="container">
    <div class="columns">


<!-- COLUMN -->
          <div class="column is-3 is-offset-1">
            <img class="footer-logo" src="assets/images/grin_mw_logo.svg">
            <ul>
              <li>
                <a href="https://github.com/mimblewimble/grin/releases"><i class="fab fa-github"></i>Github</a>
              </li>
              <li>
                <a href="https://download.wpsoftware.net/bitcoin/wizardry/mimblewimble.txt"><i class="far fa-file-alt"></i>Original Whitepaper</a>
              </li>
              <li>
                <a href="https://download.wpsoftware.net/bitcoin/wizardry/mimblewimble.pdf"><i class="far fa-file-alt"></i>Andrew Poelstra’s Whitepaper</a>
              </li>
            </ul>
          </div>
          <!-- //COLUMN -->

          <!-- COLUMN -->
          <div class="column is-4 has-text-centered">
            <h1 class="title">The Rabbit Hole</h1>
            <ul>
              <li>
                <a href="https://github.com/mimblewimble/grin/blob/master/doc/grin4bitcoiners.md">Grin for Bitcoiners</a>
              </li>
              <li>
                <a href="https://github.com/mimblewimble/grin/blob/master/doc/intro.md">Mimwim Chain Format</a>
              </li>
              <li>
                <a href="https://github.com/mimblewimble/grin/blob/master/doc/pow/pow.md">Cuckoo Cycle PoW</a>
              </li>
            </ul>
          </div>
          <!-- //COLUMN -->

          <!-- COLUMN -->
          <div class="column is-3 has-text-right">
            <h1 class="title">Get Involved</h1>
            <ul>
              <li>
                <a href="https://gitter.im/grin_community/Lobby"><i class="fab fa-gitter"></i>Gitter</a>
              </li>
              <li>
                <a href="https://twitter.com/grinmw"><i class="fab fa-twitter"></i>Twitter</a>
              </li>
              <li>
                <a href="https://www.grin-forum.org/"><i class="fab fa-discourse"></i>Forum</a>
              </li>
              <li>
                <a href="https://keybase.io/team/grincoin"><i class="fab fa-keybase"></i>Keybase chat & trade</a>
              </li>
              <!-- <li>
                <a href="https://discord.gg/Z3sEfEU"><i class="fab fa-discord"></i>Discord</a>
              </li> -->
              <li>
                <a href="https://launchpad.net/~mimblewimble"><i class="fas fa-mail-bulk"></i>Mailing List</a>
              </li>
              <li>
                <a href="page-contribution-howto"><i class="fas fa-edit"></i>Improve this website</a>
              </li>
            </ul>
          </div>
          <!-- //COLUMN -->

    </div>
  </div>
</footer>

