<footer>
  <div class="footer-content">
    <p>Grin was launched on January 15th, 2019.
      It's very young and experimental. Use at your own risk!

      <strong>Whitepapers</strong>
      MimbleWimble, Tom Elvis Jedusor @ 19 July, 2016.
      MimbleWimble, Andrew Poelstra @ e9f45ec.

      Security and vulnerability policy

      <a href="https://grin-tech.org">https://grin-tech.org</a>
    </p>
    <div class="footer-links">
      <a href="https://grin-forum.org">Forum</a>
      <a href="https://gitter.im/grin_community/Lobby">Gitter</a>
      <a href="https://grinnews.substack.com/">News</a>
      <a href="https://twitter.com/grinmw">Twitter</a>
      <a href="https://github.com/mimblewimble/grin">Github</a>
    </div>
  </div>
</footer>
