<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta property="og:title" content="Grin - The Mimblewimble Blockchain">
<meta property="og:description" content="A privacy-preserving digital currency with no amounts or addresses. Electronic transactions for all. Without censorship or restrictions. Grin is designed for the decades to come, not just tomorrow. Grin wants to be usable by everyone — regardless of borders, culture, skills or access.">
<meta property="og:image" content="https://grin.mw/assets/images/img1@3x.png">
<meta property="og:url" content="https://grin.mw/">
<meta name="twitter:card" content="summary">