<nav>
  <ul class="nav-logo">
    <li><a href="/">Grin</a></li>
  </ul>
  <ul class="nav-root">
    <li>
      <a href="https://github.com/mimblewimble/grin/releases">Releases</a>
    </li>
    <li>
      <a href="https://github.com/mimblewimble/docs/wiki">Wiki</a>
    </li>
    <li>
      <span class="dropdown" href="https://www.grin-forum.org/">
        Community
        <nav>
          <a href="#">News</a>
          <a href="#">Forum</a>
          <a href="#">Gitter</a>
          <a href="#">Discord</a>
        </nav>
      </span>
    </li>
    <li>Learn more</li>
    <!-- <li><a href="/dev">Documentation</a></li> -->
  </ul>
  <ul class="nav-hamburger">
    <button class="hamburger" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </ul>
  <ul class="nav-mobile">
    <li>
      <a href="https://github.com/mimblewimble/grin/releases">Releases</a>
    </li>
    <li>
      <a href="https://github.com/mimblewimble/docs/wiki">Wiki</a>
    </li>
    <li>
      <a href="https://www.grin-forum.org/">Forum</a>
    </li>
    <li>
      <a href="#">Learn more</a>
    </li>
  </ul>
</nav>
