@font-face {
  font-family: "Inter UI";
  src: url("../fonts/Inter-UI-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter UI";
  src: url("../fonts/Inter-UI-Bold.woff2") format("woff2");
  font-weight: 700;
}
