@font-face {
  font-family: "Inter UI";
  src: url("../fonts/Inter-UI-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter UI";
  src: url("../fonts/Inter-UI-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Inter UI";
  src: url("../fonts/Inter-UI-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Inter UI";
  src: url("../fonts/Inter-UI-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Inter UI";
  src: url("../fonts/Inter-UI-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Inter UI";
  src: url("../fonts/Inter-UI-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Inter UI";
  src: url("../fonts/Inter-UI-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "Inter UI";
  src: url("../fonts/Inter-UI-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}
