


.download-heading {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #dadada;
  background-color: white;
  p {
    max-width: 600px;
    color: #666;
    font-size: 12px;
    margin: 0 auto;
  }
}

.download-section {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  p {
    font-family: 'Inter';
    font-size: 15px;
    line-height: 1.5em;
  }
  h3 {
    margin-top: 20px;
  }
}


.site.pad.community-pad {
  padding-top: 40px;
  padding-bottom: 40px;
}

.community {
  background-color: #f2f2f2;
  padding: -10px 16px 64px 16px;
  max-width: 700px;
  margin: 0 auto;
  a {
    border-bottom: 1px solid white;
  }
  h2 {
    text-align: center;
  }
}
.community-subheading {
  line-height: 1.4em;
  text-align: center;
}
.community-content {
  margin-top: 24px;
  background-color: white;
}
.community-row {
  padding: 20px;
  display: flex;
  border-bottom: 1px solid #DADADA;
}
.community-row-img {
  width: 80px;
  margin-right: 16px;
}
.community-row-content {
  margin-top: 4px;
}
.community-row-heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}
.community-row-desc {
  line-height: 1.4em;
  margin-bottom: 8px;
}
.community-row-category {
  color: #6F6F6F;
  font-size: 12px;
}
