footer {
  background-color: #101010;
  color: white;
  font-family: 'Courier', monospace;
  font-size: 13px;
  line-height: 1.5em;
  a {
    color: white;
    border-bottom: 1px solid white;
  }
  p {
    flex-grow: 1;
  }
}
.footer-content {
  display: flex;
  width: 700px;
  margin: 0 auto;
  padding: 64px 16px;
}
.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  a {
    border: 0;
  }
}

@media (max-width: 768px) {
  footer {
    padding: 32px 16px;
  }
  .footer-content {
    flex-direction: column;
    max-width: 100%;
  }
  .footer-links {
    margin-top: 48px;
    align-items: flex-start;
  }
}
