footer {
  background-color: #f2f2f2;
  padding: $large;
  display: flex;
}
.footer-root {
  flex-wrap: wrap;
  display: flex;
}
.grin-logo-footer {
  height: 64px;
  display: flex;
  position: relative;
  top: -$tiny;
}
.footer-section {
  min-width: 150px;
  display: flex;
  flex-grow: 10;
  flex-direction: column;
  margin-bottom: $small;
}
.footer-section a {
  color: #6d6d6d;
  border: 0;
  line-height: 24px;
  &:hover {
    color: black;
  }
}
.footer-section div {
  margin-bottom: 4px;
}

@media (max-width: 768px) {
  footer {
    padding: $base;
  }
  .footer-root {
    flex-direction: column;
    flex-grow: 0;
  }
}
