header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  mix-blend-mode: difference;
  z-index: 1000;
  a {
    font-family: 'Courier', monospace;
    color: white;
    font-size: 13px;
    font-weight: normal;
    border: 0;
  }
}
nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin: 24px 16px 0 16px;
}
.nav-logo {
  flex-grow: 1;
  &:hover ~ #grin-logo-full {
    visibility: visible;
  }
}
.full-header {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  max-width: 1140px;
  margin: 0 auto;
  z-index: 100000;
  pointer-events: none;
}
.full-nav {
  margin: 24px 16px 0 16px;
}
#grin-logo {
  display: inline-block;
  position: relative;
}
#grin-logo-bare {
  transition: all .1s ease;
  transform: rotate(0deg);
}
#grin-logo-full {
  display: inline-block;
  border: 0;
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}
#grin-logo-full-svg {
  transition: all .1s ease;
  transform: rotate(0deg);
}
.nav-list {
  display: flex;
  margin: 12px 0 0 0;
  li {
    margin-right: 24px;
  }
}

@media (max-width: 768px) {
  header {
    max-width: 100%;
  }
  nav {
    margin: 16px;
  }
  .full-nav {
    margin: 16px;
  }
  .nav-list {
    display: none;
  }
}
