nav {
  display: flex;
  flex-direction: row;
}
nav ul {
  margin-bottom: 0;
}
nav a {
}
.nav-logo {
  // flex-grow: 0;
  font-weight: 700;
  // align-items: center;
  // display: flex;
  // justify-content: center;
  // padding: $base $small $base $base;
  // padding-right: $small;
}
.nav-logo li {
  display: flex;
  height: 64px;
  width: 100px;
  justify-content: center;
  align-items: center;
}
.nav-logo a {
  font-size: 24px;
  border: 0 !important;
}
.nav-root {
  flex-grow: 1;
  align-items: stretch;
  list-style: none;
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  // padding-right: $base;
}
.nav-root li {
  padding: $base $small $base 0;
  z-index: 100;
}

@media (max-width: 768px) {
  .nav-root {
    display: none;
  }
}
