.visual-text {
  display: block;
  font-size: 56px;
  font-weight: 800;
  padding: $base;
}
.visual-logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.visual-box {
  flex-grow: 1;
  width: 200px;
  height: 200px;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.visual-box img {
  height: 200px;
  width: 200px;
}
.visual-box h1 {
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
