.visual-text {
  display: block;
  font-size: 56px;
  font-weight: 800;
  padding: $base;
  // font-style: italic;
}
.visual-logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.visual-box {
  flex-grow: 1;
  width: 200px;
  height: 200px;
  padding: 1px;
  // max-width: 250px;
  // border: 1px solid black;
  // margin-right: $tiny;
  display: flex;
  align-items: center;
  justify-content: center;
}
.visual-box img {
  height: 200px;
  width: 200px;
}
.visual-box h1 {
  // margin-left: 32px;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
