---
---

@import 'variables';
@charset 'utf-8'; // wider columns
html,
img {
  padding: 0.3125rem;
}
body {
  font-family: 'Josefin Sans';
  background-color: white;
  color: block;
}
nav.navbar {
  border-bottom: 1px solid rgba(10, 10, 10, 0.1);
  .navbar-item img {
    max-height: 2.25rem;
    height: 2.25rem;
    padding: 0;
  }
}
.dots .column img {
  margin-top: -10px;
  height: 5rem;
  display: inline-block;
  vertical-align: middle;
}
/* fixing margins */
.content blockquote:not(:last-child),
.content dl:not(:last-child),
.content ol:not(:last-child),
.content p:not(:last-child),
.content pre:not(:last-child),
.content table:not(:last-child) {
  margin-bottom: 0.1em;
}
.page ul {
  margin-bottom: 2rem;
}
.companies div.inverted img {
  filter: invert(100%);
}
.level .level-item img {
  height: 2.5rem;
  margin: 0.2rem;
}
.names .level-item {
  font-size: 1.5rem;
}
.content section {
  .title {
    @include mobile {
      font-size: 2.5rem;
      margin-bottom: 3rem;
      margin-top: 3rem;
    }
    font-size: 3.3rem;
    margin-bottom: 4rem;
    margin-top: 3rem;
  }
  .subtitle {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}
p,
li {
  font-size: 1.5rem;
}
span {
  font-size: 1.5rem;
}
.has-top-space {
  margin-top: 5rem;
}

ul li a {
  font-size: 1.5rem;
  i {
    padding: 0.5rem;
  }
}
.footer-logo {
  margin-top: -1rem;
  height: 8rem;
}
.hero-logo {
  max-width: 20rem;
}
.donate-button {
  @include mobile {
    display: block;
    margin-bottom: 4rem;
  }
  @include tablet {
    float: right;
  }
}
.buy-swag-button {
  @include mobile {
    width: 100%;
  }
}
.address-link {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}
