---
---

@import 'reset';
@import 'variables';
@import 'hamburger';
@import 'markdown';
@import 'fonts';
@import 'navigation';
@import 'footer';
@import 'index';
@import 'visual';
@import 'friends';
@charset 'utf-8';
html, body {
  font-family: 'Inter UI';
  background-color: white;
  color: block;
  margin: 0 auto;
  font-size: $regular;
}
a {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000;
  text-decoration: none;
  color: inherit;
  &:hover {
    border-color: transparent;
  }
}
strong {
  font-weight: 700;
}
* {
  box-sizing: border-box;
}
// h1 {
//   font-size: 56px;
//   font-weight: 700;
//   margin-bottom: 8px;
// }
// h2 {
//   font-size: 36px;
//   font-weight: 700;
//   margin-bottom: 8px;
// }
// h3 {
//   font-size: 28px;
//   margin-bottom: 8px;
// }
h4 {
  font-size: 19px;
  margin-bottom: 8px;
}
// p {
//   line-height: 1.6em;
//   margin-bottom: $small;
//
// }
li {
  line-height: 1.6em;
  // margin-bottom: 2px;
}
.fab {
  font-size: 15px;
  font-family: "Font Awesome 5 Brands";
  padding-left: 2px;
}
.fa-github:before {
  content: "\f09b";
}
.container {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
}
.container-sm {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
.main-root {
  padding: 48px 48px;
  max-width: 900px;
  margin: 0 auto;
}
