---
layout: default
---

<main>
  <header>
    <div class="intro-logo">
      <img src="assets/images/grin_mw_logo.svg" class="grin-logo" alt="Description">
    </div>
    <div class="intro">
      <div class="intro-text">
        <h1>Meet Grin.</h1>
        <p>
          The private and lightweight<br />
          mimblewimble blockchain
        </p>
      </div>
      <div class="intro-buttons">
        <button class="intro-button" type="button">Get started</button>
        <button class="intro-button" type="button">
          Github
          <i class="fab fa-github"></i>
        </button>
      </div>
    </div>
  </header>
</main>
